body { background: #ec7447; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 43px; display: flex; }
.block-uploader-0 { color: #790e89; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #aa854b; font-size: 13px; margin-bottom: 5px; }
.block-uploader-2 { color: #f0720d; font-size: 21px; margin-bottom: 5px; }
.block-sms-3 { color: #50aa74; font-size: 14px; margin-bottom: 5px; }
.block-user-4 { color: #79c036; font-size: 12px; margin-bottom: 5px; }
.block-payment-5 { color: #832ee4; font-size: 18px; margin-bottom: 5px; }
.block-sms-6 { color: #2ce27e; font-size: 21px; margin-bottom: 5px; }
.block-uploader-7 { color: #ec0b30; font-size: 14px; margin-bottom: 5px; }